.CalendarMonthGrid {
  width: unset !important;
}

.step4 .select-group .date-label-checkin {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 10;
  left: 62px;
  font-weight: 300;
  font-size: 12px;
  &.empty {
    font-size: 16px !important;
    top: 21px !important;
  }
}

.step4 .select-group .date-label-checkout {
  position: absolute;
  top: 7px;
  left: calc(50% + 34px);
  z-index: 10;
  font-weight: 300;
  font-size: 12px;
  &.empty {
    font-size: 16px !important;
    top: 21px !important;
  }
}
.DayPickerKeyboardShortcuts_buttonReset {
  display: none;
}
.DateRangePicker {
  width: 100%;
  & > div {
    width: 100%;
    .DateRangePickerInput_arrow_svg {
      fill: #bcbcbc;
    }
    .DateRangePickerInput {
      width: 100%;
      display: flex;
      .DateRangePickerInput_calendarIcon_svg {
        vertical-align: unset;
      }
      .DateInput {
        flex: 1;
        .DateInput_input {
          padding-top: 23px;

          font-weight: 300;
          font-size: 16px;
        }
        .DateInput_input__focused {
          border-bottom: 2px solid #008efd;
        }
      }
      .DateRangePickerInput_clearDates {
        height: 37px;
        width: 37px;
        padding: 0;
        display: flex;
        justify-content: center;
      }
      .DateRangePickerInput_arrow {
        display: flex;
        align-items: center;
      }
      .CalendarDay__selected_span {
        background: #e8f1ff;
      }
      .CalendarDay {
        border: 1px solid #70707020;
      }
      .CalendarDay__default {
        color: #042f5c;
      }
      .CalendarDay__selected,
      .CalendarDay__selected:active,
      .CalendarDay__selected:hover {
        background: #008efd;
        color: #fff;
      }
      .CalendarDay__blocked_out_of_range {
        background: #fff;
        color: #cacccd;
      }
    }
  }
}
