#container {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .content {
    max-width: 1280px;
    margin: 0 auto;
    .homepage-img {
      width: 88%;
      margin: 7px auto 40px;
      img {
        width: 100%;
      }
    }
    .categories-content {
      padding: 0 6%;
      > .title h2 {
        color: #042f5c;
        font-family: "Acrom";
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2.16px;
        text-align: center;
      }
      .line-horizontal {
        height: 1px;
        background: #707070;
        margin: 25px 0;
      }
      .categories {
        display: flex;
        justify-content: space-between;
        background-color: #f3f4f6;
        .category {
          width: 50%;
          .title {
            margin-top: 20px;
            color: #042f5c;
            font-family: "Acrom";
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 65%;
              top: 50%;
              width: 25%;
              height: 1px;
              background: #707070;
            }
            &::after {
              content: "";
              position: absolute;
              left: 10%;
              top: 50%;
              width: 25%;
              height: 1px;
              background: #707070;
            }
          }
          &:last-child {
            .category-content {
              border-right: 0;
            }
          }
          .category-content {
            margin: 25px 0 35px;
            border-right: 1px solid #d9dadb;
            .category-image {
              padding-top: 280px;
              height: 250px;
              width: 100%;
              max-width: 100%;
              position: relative;
              img {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                max-width: 90%;
              }
            }
            .description {
              padding: 50px 25px;
              color: #1d1e20;
              font-family: "Acrom";
              font-size: 16px;
              font-weight: 400;
              text-align: center;
            }
          }
        }
      }
    }
    .most-reviewed {
      padding: 6%;
      > .title {
        margin-bottom: 50px;
        h2 {
          color: #042f5c;
          font-family: "Acrom";
          font-size: 36px;
          font-weight: 700;
          letter-spacing: 2.16px;
          text-align: center;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 73%;
            top: 50%;
            width: 15%;
            height: 1px;
            background: #707070;
          }
          &::after {
            content: "";
            position: absolute;
            left: 12%;
            top: 50%;
            width: 15%;
            height: 1px;
            background: #707070;
          }
        }
      }
    }
    .products-columns {
      display: flex;
      justify-content: space-between;
      .products-column {
        width: 50%;
        &:first-child,
        &:last-child {
          width: 25%;
        }
        .product {
          width: 100%;
          margin-top: 25px;
          .product-image {
            width: fit-content;
            margin: 0 auto;
            img {
              max-width: 90%;
            }
          }
          .info {
            p {
              color: #1d1d23;
              font-family: "Acrom";
              font-size: 20px;
              font-weight: 700;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    background-color: #042f5c;
    display: flex;
    padding: 20px 0;
    justify-content: center;
    .footer-content {
      max-width: 800px;
      width: 95%;
      .footer-menu {
        ul {
          list-style-type: none;
          display: flex;
          justify-content: space-evenly;
          li {
            padding: 10px;
            a {
              color: #f3f4f69e;
              font-family: "Acrom";
              font-size: 12px;
              font-weight: 500;
              text-decoration: none;
              position: relative;
              &:after {
                content: "";
                position: absolute;
                width: 0px;
                height: 2px;
                background: #f3f4f69e;
                top: 100%;
                left: 0;
                transition: all 0.2s ease-in-out;
                transition-duration: 0.3s;
              }
              &:hover {
                &:after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .footer-line {
        width: 100%;
        height: 1px;
        background: #707070;
      }
      .social-icons {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        img {
          margin: 6px;
        }
      }
      .footer-info {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        a {
          color: #f3f4f6;
          font-family: "Acrom";
          font-size: 12px;
          font-weight: 700;
          text-decoration: none;
        }
      }
      .short-line {
        width: 40%;
        height: 1px;
        background: #d5dadd;
        max-width: 80%;
        margin: 25px auto;
      }
      .copyright {
        display: flex;
        justify-content: center;
        span {
          color: #d5dadd;
          font-family: Acrom;
          font-size: 8px;
          font-weight: 400;
        }
      }
    }
  }
}
