.select-group {
  flex: 1;

  margin-bottom: 25px;
  position: relative;

  .select-label {
    margin-bottom: 10px;

    font-size: 15px;
    color: #3f4864;
    //   color: #008efd;
  }
  &.disabled {
    i {
      color: #ececec !important;
    }

    .select-label {
      color: #ececec;
    }
  }
  .select-wrapper {
    position: relative;
    i {
      position: absolute;
      top: 24px;
      right: 20px;
      color: #3f4864;
    }
  }
  select {
    height: 64px;
    border: 2px solid #ececec;
    color: #3f4864;
    /* word-spacing: 39px; */
    padding-left: 15px;
    font-size: 14px;
    border-radius: 3px;

    appearance: none;

    max-width: 500px;
    width: 100%;
    &:focus {
      border: 2px solid #008efd;
      color: #008efd;
      outline: 0;
      i {
        color: #008efd;
      }
    }
    &::-ms-expand {
      display: none; /* hide the default arrow in ie10 and ie11 */
    }
    option {
      color: #3f4864;
    }
    option:not(:disabled) {
    }
    option:disabled {
      color: #e3e3e3;
    }
  }
}
