body.steps-body {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.svg);
  background-position: center top;
  background-attachment: fixed;
  #container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #042f5c99;
    padding: 50px 0;
    .page-logo {
      display: flex;
      justify-content: center;
    }
    .content {
      margin-top: 80px;
      display: flex;
      justify-content: center;
      .body {
        padding: 40px 20px 80px;
        width: 880px;
        max-width: 100%;
        box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        background-color: #ffffff;
        position: relative;

        .dots {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 30px;
          .dot {
            margin: 0 18px;
          }
        }
      }
    }
  }
}
.steps {
  .step1 {
    .bars {
      @media (max-width: 550px) {
        display: block;
        .bar {
          margin: 15px auto 0;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      display: flex;
      justify-content: space-around;
      .bar {
        max-width: 355px;
        padding: 0 20px;
        .bar-logo {
          display: flex;
          justify-content: center;
          height: 115px;
          position: relative;
          img {
            position: absolute;
            bottom: 0;
          }
        }
        .title {
          margin-top: 20px;
          text-align: center;
          color: #008efd;
          font-family: "Acrom";
          font-size: 20px;
          font-weight: 700;
        }
        .description {
          margin-top: 20px;
          color: #1a263e;
          font-family: "Acrom";
          font-size: 12px;
          font-weight: 400;
          display: inline-block;
          text-align: center;
        }
        .button-content {
          margin-top: 35px;
        }
      }
    }
  }
  .step2 {
    form.container {
      .select-form {
        width: 500px;
        margin: 0 auto;

        @media (max-width: 550px) {
          display: block;

          width: 100%;
        }
      }
    }
  }
  .step3 {
    form {
      margin-bottom: 38px;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
.Modal .select-form {
  width: 100% !important;
}
.Modal select {
  max-width: 100% !important;
}
